.form
{
	left: 18%;
	width: 70%;
	max-width: 100%;
	position: absolute;
	height: 50px;
	overflow: hidden;
	z-index: 2000;
	top: 0px;
}
.form .input
{
	width: 100%;
	height: 100%;
	color: #595f6e;
	padding-top: 10px;
	border: none;
	outline: none;
	background: rgba(0, 0, 0, .001);
}
.form .label
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.form .label::after
{
	content: "";
	position: absolute;
	left: 0px;
	border: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #7ED6E7;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}
.content-name
{
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}
.form .input:focus + .label-name .content-name,
.form .input:valid + .label-name .content-name
{
	transform: translateY(-150%);
	font-size: 14px;
	color: #7ED6E7;
}
.form .input:focus + .label-name::after,
.form .input:valid + .label-name::after
{
	transform: translateX(0%);
}
